.navbar-menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    
  }
  
  .nav-link{
    color: rgb(213, 213, 224);
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #313030, 1px -1px 0 #353434, -1px 1px 0 #302f2f, 1px 1px 0 #3b3b3b;
  }
  
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgb(83, 80, 80), rgb(238, 34, 34));
    
  }
  
  .avatar{
    display: flex;
    align-items: first center;
    justify-content: center;
    
  }
  
  .logo-inmobiliariagg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px
  }
  
  .logo-inmobiliariagg-logo, .avatar{
    height: 50px;
    width: auto;
    padding: 0 10px 0 10px;
    border-radius: 50%;
  }
  
  .position-absolute{
    width: 200px;
    height: auto;
    background-color: rgb(238, 234, 234);
    border: 0;
  }

.logo-inmobiliariagg-texto{
  font-weight: bold;
}